﻿@model IEnumerable<Domain.Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>Tournaments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            # Groups
        </th>
        <th>
            # Dates
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.logo)*@
            @if (!string.IsNullOrEmpty(item.logo))
            {
                <img src="@Url.Content(item.logo)" alt="Image" style="width:100px; height:100px; max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Groups.Count)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Dates.Count)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TournamentID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.TournamentID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TournamentID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
