﻿@model IEnumerable<Domain.League>

@{
    ViewBag.Title = "Leagues";
}

<h2>Leagues</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            # Teams
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.logo)*@
                @if (!string.IsNullOrEmpty(item.logo))
                { 
                    <img src = "@Url.Content(item.logo)" alt="Image" style="width:100px; height:100px; max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LeagueID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.LeagueID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LeagueID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
